{% extends "emails/email_base_template.html.twig" %}

{# @var user App\Entity\User #}
{% block email_content %}
    <h1>Reset password request</h1>

    <p>
        You asked for it, we reset it!
    </p>

    <p>
        <a href="{{ front_url }}/reset_password?token={{ user.passwordResetToken }}">Change Password Now &rarr;</a>
    </p>
{% endblock email_content %}

{% block email_footer %}
    You're receiving this email because you asked for a password reset.
{% endblock email_footer %}
